{% extends default %}

{% block content %}

    <div class="min-h-screen bg-neutral-100 flex justify-center items-center">
        <span class="font-semibold">Welcome home!</span>
    </div>
{% endblock %}
