{% extends base %}

{% block content %}
    <div class="min-h-screen bg-neutral-100 flex justify-center items-center">
        <span class="font-normal">This is home!</span>
    </div>
{% endblock %}
